@import "tailwindcss";

:root {
  --background: #87c9f8;
  --foreground: white;
  --editor-background: #101117;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-quantico: var(--font-quantico);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101117;
    --foreground: #ededed;
    --editor-background: #101117;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  cursor: pointer;
}